body {
    display: grid;
    justify-items: center;
    background: #efefef;
    border: 1px solid;
    grid-template-rows: auto 1fr auto;
}

.content {
    display: grid;
}

.menu {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(6, auto);
    column-gap: 15px;
}

#run-menu {
    grid-template-columns: repeat(5, auto);
}

#load-menu {
    grid-template-columns: repeat(4, auto);
}

@media screen and (max-height: 700px) {
    h1 {
        margin: 10px auto 0px;
    }
}

@media screen and (orientation: portrait) {
    #quip {
        height: 10em;
    }
}

@media screen and (orientation: landscape) {
    #quip {
        height: 4em;
    }
}

#quip {
    width: 90%;
    font: 16pt courier;
}

#puzzle {
    background: white;
    padding: 5px;
}

#edit {
    justify-items: center;
    align-items: center;
    grid-template-rows: auto 1fr auto;
    row-gap: 10px;
    width: 100%;
}

#entry {
    grid-template-columns: auto 1fr auto;
}

#choose,
#load {
    justify-items: center;
    align-items: center;
    grid-template-rows: 2em 1fr
}

#run {
    justify-items: center;
    align-items: center;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-row-gap: .5em;
    row-gap: 20px;
}

div {
    font: 16pt courier;
}

a {
    font: 12pt courier;
}

#quips {
    font: 10pt courier;
    overflow: auto;
}

table {
    font: 14pt courier;
}

canvas {
    display: block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

selection {
    height: 50px;
}
