body {
    display: grid;
    background: #efefef;
    grid-gap: 1em;
}


#choices {
    list-style: none;
    grid-area: choices;
}

@media screen and (orientation: portrait) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas: "title" "choices" "puzzle" "menu" "name";
    }

    .zone {
        grid-template-rows: repeat(3, 52px);
        grid-template-columns: repeat(3, 52px);
    }
    
    .menu {
        justify-self: center;
    }

    #choices {    
        justify-self: center;  
        display: grid;
        grid-template-columns: repeat(12, 48px);
    }

    #choices li {
        font: 29pt Courier New;
        text-align: center;
    }
}

@media screen and (orientation: landscape) {
    body {
        grid-template-columns:  20li auto 1fr;
        grid-template-areas: 
            "title puzzle ."
            "name puzzle ."
            "choices puzzle ."
            "menu puzzle ."
            ". puzzle ."
    }

    #choices {
        justify-self: center;
        display: grid;
        grid-template-rows: repeat(3, 52px);
        grid-template-columns: repeat(3, 52px);
        background: gray;
        gap: 2px;
        padding: 2px;
    }

    header {
        justify-self: center;
    }

    li {
        background: white;
    }

    #choices li {
        font: 20pt Courier New;
        padding: 10px;
        font-weight: bold;
        text-align: center;
    }

    .zone {
        grid-template-rows: repeat(3, 52px);
        grid-template-columns: repeat(3, 52px);
    }
    
    .menu {
        justify-self: center;
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(2, auto);
    }

    .entry {
        justify-self: center;
    }
}

.entry {
    justify-self: center;
    grid-area: name;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.menu {
    grid-area: menu;
}

header {
    grid-area: title;
    text-align: center;
    font: 32pt Georgia;
}

#setup {
    display: grid;
    justify-self: center;
    grid-area: puzzle;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    background: black;
    grid-gap: 4px;
    padding: 4px;
}

.zone {
    display: grid;
    grid-gap: 2px;
    background: grey;
}

.zone > div {
    font: 20pt Courier New;
    padding: 15px;
    font-weight: bold;
    color: black;
}

.zone:nth-child(even) div {
    background: lightblue;
}

.zone:nth-child(odd) div {
    background: lightgreen;
}

a {
    font: 12pt Georgia;
}

.theDigit {
    background: lightblue;
}

.theCell {
    background: lightGray;
}

#items {
    grid-area: puzzle / puzzle / puzzle / puzzle;
}

th {
    text-align: left;
}