#body {
    display: grid;
    background: #efefef;
    grid-gap: 1em;
}


#choices {
    list-style: none;
    grid-area: choices;
}

#the-list {
    height: 500px;
    width: 490px;
    overflow-y: scroll;
    overflow-x: hidden;
    grid-area: puzzle;
}

#list {
    position: sticky;
    top: 0;
    width: 100%;
}

#entry {
    grid-area: name;
}

#dectitle {
    grid-area: adec;
}
#title {
    grid-area: atitle;
}
#inctitle {
    grid-area: ainc;
}

.menu {
    grid-area: menu;
}

header {
    grid-area: header;
}

#setup {
    grid-area: puzzle;
}

@media screen and (orientation: portrait) {
    #body {
        grid-template-columns: 1fr;
        grid-template-areas: "header" "choices" "puzzle" "menu" "name";
    }

    .zone {
        grid-template-rows: repeat(3, 52px);
        grid-template-columns: repeat(3, 52px);
    }
    
    .menu {
        justify-self: center;
    }

    #choices {    
        justify-self: center;  
        display: grid;
        grid-template-columns: repeat(12, 48px);
    }

    #choices li {
        font: 29pt Courier New;
        text-align: center;
    }
    
    #entry {
        justify-self: center;  
    }
}

@media screen and (orientation: landscape) {
    body {
        width: 800px;
        height: 768px;
        padding: 2px;
    }

    #body {
        background-color: white;
        grid-template-columns:  510px 15em;
        grid-template-areas: 
            "header header"
            "puzzle menu"
            "puzzle choices"
            "puzzle name"
            "puzzle . "
    }

    #choices {
        justify-self: center;
        display: grid;
        grid-template-rows: repeat(3, 52px);
        grid-template-columns: repeat(3, 52px);
        background: gray;
        gap: 2px;
        padding: 2px;
    }

    header {
        justify-self: center;
    }

    li {
        background: white;
    }

    #choices li {
        font: 20pt Courier New;
        padding: 10px;
        font-weight: bold;
        text-align: center;
    }

    .zone {
        grid-template-rows: repeat(3, 52px);
        grid-template-columns: repeat(3, 52px);
    }
    
    .menu {
        justify-self: center;
        display: grid;
        grid-template-columns: repeat(3, auto);
    }

    .menu button {
        width: 5em;
        height: 30px;
        margin: 5px;
    }

    a {
        margin: 5px;
    }

    #mail {
        grid-area: mail;
    }

    #entry {
        display: grid;
        justify-self: center;
        grid-template-areas: 
            "atitle atitle atitle"
            "adec mail ainc";
    }

    #delete {
        grid-area: "delbutton";
    }
}

#entry {
    grid-area: name;
}

#dectitle {
    grid-area: adec;
}
#title {
    grid-area: atitle;
}
#inctitle {
    grid-area: ainc;
}

.menu {
    grid-area: menu;
}

header {
    grid-area: header;
    text-align: center;
    font: 32pt Georgia;
}

#setup {
    display: grid;
    justify-self: center;
    grid-area: puzzle;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    background: black;
    grid-gap: 4px;
    padding: 4px;
}

.zone {
    display: grid;
    grid-gap: 2px;
    background: grey;
}

.zone > div {
    font: 20pt Courier New;
    padding: 15px;
    font-weight: bold;
    color: black;
}

.zone:nth-child(even) div {
    background: lightblue;
}

.zone:nth-child(odd) div {
    background: lightgreen;
}

a {
    font: 12pt Georgia;
}

.theDigit {
    background: lightblue;
}

.theCell {
    background: lightGray;
}

th {
    text-align: left;
}